<div id="preferencesModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('preferencesModal').style.display='none'">&times;</span>
        <h2>Update Your Movie Preferences</h2>
        <form id="preferencesForm">
            <div id="genresContainer">
                <!-- Genres and Subtypes will be populated dynamically here -->
            </div>
            <button type="submit">Submit</button>
	    <button type="button" onclick="document.getElementById('preferencesModal').style.display='none'">Close</button>
        </form>
    </div>
</div>
